@import url(https://fonts.googleapis.com/css?family=Quicksand:400,300);
/*.team{
    padding:75px 0;
}*/
h6.description{
	font-weight: bold;
	letter-spacing: 2px;
	color: #999;
	border-bottom: 1px solid rgba(0, 0, 0,0.1);
	padding-bottom: 5px;
}
.profile{
  font-family: 'Quicksand', sans-serif;
}
.profile h1{
	font-weight: normal;
	font-size: 1rem;
	margin:10px 0 0 0;
}
.profile h2{
	font-size: 0.8rem;
	font-weight: lighter;
	margin-top: 5px;
}

.profile p{
	word-break: break-all;
}
.profile .img-box{
	opacity: 1;
	display: block;
	position: relative;
	background: #f7f6f6;
}
.profile .img-box img{
	height: 10em;
  object-fit: cover;
	margin: auto;
}
.profile .img-box:after{
	content:"";
	opacity: 0;
	background-color: rgba(0, 0, 0, 0.25);
	position: absolute;
	right: 0;
	left: 0;
	top: 0;
	bottom: 0;
}
.img-box ul{
	position: absolute;
	z-index: 2;
	bottom: 50px;
	text-align: center;
	width: 100%;
	padding-left: 0px;
	height: 0px;
	margin:0px;
	opacity: 0;
}
.profile .img-box:after, .img-box ul, .img-box ul li{
	-webkit-transition: all 0.5s ease-in-out 0s;
    -moz-transition: all 0.5s ease-in-out 0s;
    transition: all 0.5s ease-in-out 0s;
}
.img-box ul i{
	font-size: 20px;
	letter-spacing: 10px;
}
.img-box ul li{
	width: 30px;
    height: 30px;
    text-align: center;
    border: 1px solid #88C425;
    margin: 2px;
    padding: 5px;
	display: inline-block;
}
.img-box a{
	color:#fff;
}
.img-box:hover:after{
	opacity: 1;
}
.img-box:hover ul{
	opacity: 1;
}
.img-box ul a{
	-webkit-transition: all 0.3s ease-in-out 0s;
	-moz-transition: all 0.3s ease-in-out 0s;
	transition: all 0.3s ease-in-out 0s;
}
.img-box a:hover li{
	border-color: #fff;
	color: #88C425;
}

.img-box div.profle-info{
	position: absolute;
	z-index: 2;
	bottom: 50px;
	text-align: center;
	width: 100%;
	padding-left: 0px;
	height: 0px;
	margin:0px;
	opacity: 0;
}
.img-box:hover div.profile-info{
	opacity: 1;
}

.img-box div.profile-info{
	color:#fff;
}

.team{
	border: 1px solid #aeaeae;
	padding: 0 1em;
}

./*team-wrap > :first-child{
	background: #eae7e7;
}*/
.staff-head{
	background: #eae7e7;
}




.form-item-field_chem_staff_category-target-id label.control-label{
  background-color: #f9f9f9;
  /*color: #234645!important;*/
  border: 1px solid #ddd;
  padding: 0.5em;
  border-radius: 4px;
}

.form-item-field_chem_staff_category-target-id label.control-label input[name="field_chem_staff_category_target_id"]{
	display: none;
}

.form-item-field_chem_staff_category-target-id label.control-label input[checked="checked"]+label.control-label {
	/*background-color: #234645!important;*/
	color: #ffffff!important;
}

.form-item-dept-staff label.control-label{
  background-color: #f9f9f9;
/*  color: #234645!important;*/
  border: 1px solid #ddd;
  padding: 0.5em;
  border-radius: 4px;
}

.form-item-dept-staff label.control-label input[name="field_chem_staff_category_target_id"]{
	display: none;
}

.form-item-dept-staff label.control-label input[checked="checked"]+label.control-label {
/*background-color: #234645!important;*/
	color: #ffffff!important;
}


/* ircc staff */
#edit-staff-category .form-group{
  display: block;
}

#edit-staff-category .form-group {
  background-color: #f9f9f9;
  /*color: #234645!important;*/
  border: 1px solid #ddd;
  padding: 0.1em 1em;
  margin-bottom: 0.2em;
  border-radius: 4px;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}
#edit-staff-category .form-group a{
  padding: 0.1em 1em;
}
#edit-staff-category .form-group a:hover{
/*color: #234645!important;*/
}

#edit-staff-category .form-group:hover{
  background-color: #f0f8ff;

}

#edit-staff-category div.bef-link-active, #edit-staff-category div.bef-link-active:hover, #edit-staff-category div.bef-link-active:focus {
  /*background-color: #234645!important;*/
  color: #ffffff!important;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}
#edit-staff-category a.bef-link-active, #edit-staff-category a.bef-link-active:hover{
  color: #ffffff!important;
}


.staff-head{
  background: #d0d0d0;
}
.staff-head .img-box{
  background: #d0d0d0!important;
}

.staff-pd{
  padding: 0.5em;
}

.view-dept-staff .views-field-description__value{
  border: 1px solid #aeaeae;
  padding: 1em;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
}


/*a{
    color:#88C425;
}*/
/*a:hover{
    text-decoration:none;
    color:#519548;
}
i.red{
    color:#BC0213;
}*/

